li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

img {
  width: 35px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content:  space-between;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;
} 

.menu {
  display: flex;
  flex-wrap: wrap;
}



