

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: row;
  gap: 10px;
}

img {
  width: 45px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content:  space-between;
  border: 1px solid;
  margin: 10px;
} 

.menu {
  display: flex;
  
}
.container nav {
  align-items: baseline;
}
