/* 
apenas grid columns e rows

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
}

.header {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  padding: 10px;
  border: 1px solid;
  margin: 10px;
  grid-column: 1 /4;
  grid-row: 1/2;
  justify-content: center;
}


.globalMenu {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.contextMenu {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 3/4;
}

.mainContent {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  grid-column: 2/3;
  grid-row: 3/4;
}

.ads {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  grid-column: 3/4;
  grid-row: 2 / 4;
}

.footer {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  grid-column: 1 /4;
  grid-row: 4;
} */


/* com grid template area */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: fit-content;
  border: 2px solid;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  grid-template-rows: 1fr 1fr 3fr 1fr; 
  grid-template-areas: 
    "header header header"    
    "globalMenu globalMenu ads"
    "contextMenu mainContent ads"
    "footer footer footer"; 
}

.header, .globalMenu, .contextMenu, .mainContent, .ads, .footer {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
}

.header {
  grid-area: header; 
}

.globalMenu {
  grid-area: globalMenu; 
}

.contextMenu {
  grid-area: contextMenu; 
}

.mainContent {
  grid-area: mainContent; 
}

.ads {
  grid-area: ads; 
}

.footer {
  grid-area: footer; 
}
