.menuContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  margin: 10px;
  padding: 10px;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: #ffffff;
}

.platformBrand {
  font-size: 18px;
  font-weight: bold;
}

.menuToggle {
  cursor: pointer;
  font-size: 24px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #ffffff;
  color: black;
}

.menuItem {
  padding: 10px;
  width: 100%;
  text-align: center;
  border-top: 1px solid;
  cursor: pointer;
}

.menuItem:hover {
  background: #b7b7b7;
}

.img {
  width: 30px;
}
.profileIcon {
  font-size: 24px;
  cursor: pointer;
}
