* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list-item {
  list-style: none;
  margin: 0;
  padding-left: 15px;
  padding-bottom: 10px;
}

.menu-img, .brand-img {
  width: 25px;
}

.container {
  width: fit-content;
  border: solid 1px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
}

.menu-div {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  flex-grow: 1;
}

.menu-icon-div {
  display: flex;
  padding-left: 15px;
  justify-content: end;
}

.items-div {
  flex-grow: 1;
  display: flex;
}
